<section class="auth-box">
  <h2>Connexion</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Identifiant ou Email" />
    <div class="error" *ngIf="form.controls.email.invalid && form.controls.email.touched">
      Email invalide
    </div>

    <label>Mot de passe</label>
    <input [type]="show ? 'text':'password'" formControlName="password" placeholder="Mot de passe" />

    <div class="password-toggle">
      <button type="button" (click)="show=!show">
        {{ show ? '🙈 Cacher' : '👁️ Afficher' }}
      </button>
    </div>

    <p class="error" *ngIf="error">{{ error }}</p>

    <button type="submit" [disabled]="form.invalid || loading">Se connecter</button>
  </form>

  <div class="additional-links">
    <a [routerLink]="['/auth/forgot']">Mot de passe oublié ?</a>
    <a [routerLink]="['/auth/signup']">Première connexion</a>
  </div>
</section>
